.wrapper {
    background-color: #32264D;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box-pages {
    background-color: blanchedalmond;
    width: 65vw;
    height: 65vh;
    border-radius: 0 55px 55px 0;
    padding: 10px;
}

.box-links {
    display: grid;
    text-align: right;
    margin-right: 8px;
}

.box-links > a {
    padding: 5px 0;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: larger;
    /* font-size: 25px; */
    color: blanchedalmond;
}

.box-links > a:hover {
    color: gainsboro;
}

.active-link {
    color: #ffd464 !important;
    border-bottom: 2px solid var(--color-primary-darker);
    border-radius: 2px;
}

@media (max-width: 700px) {
    .wrapper {
        display: grid;
    }

    .box {
        display: grid;
    }

    .box-pages {
        width: 100vw;
        border-radius: 0;
        margin-top: 0;
    }

    .box-links {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin: 0;
    }
    
}
