<div class="wrapper">
    <div class="box">
        <div class="box-links">
            <a routerLinkActive="active-link" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
                Início
            </a>
            <a routerLinkActive="active-link" routerLink="tag">
                Cadastrar Tag
            </a>
            <a routerLinkActive="active-link" routerLink="homenagens">
                Homenagear
            </a>
            <a routerLinkActive="active-link" routerLink="list-homenagens">
                Minhas Homenagens
            </a>
            <a routerLinkActive="active-link" routerLink="list-homenageados">
                Meus Homenageados
            </a>
        </div>

        <div class="box-pages">
            <router-outlet></router-outlet>    
        </div>
    </div>
</div>
