.main-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: darkslategray;
}

.main-buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid darkslategray;
}

.button-container {
    display: grid;
    align-items: center;
    text-align: center;
    height: 88px;
}
