<div class="main-box po-xl-6 po-lg-6 po-md-6 po-sm-6">
    <font class="main-text po-font-display">Tec Like</font>
</div>

<div class="main-buttons po-xl-6 po-lg-6 po-md-6 po-sm-6">
    <div class="button-container">
        <po-button
            p-label="Homenagear"
            p-type="primary"
            [routerLink]="['/homenagens']"
        >
        </po-button>
        <po-button
            p-label="Minhas Homenagens"
            p-type="primary"
            [routerLink]="['/list-homenagens']"
        >
        </po-button>
    </div>
</div>
