.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
    height: 83%;
    width: 100%;
    display: grid;
    text-align: justify;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    overflow: auto;
}
