<po-dynamic-form
    #dynamicForm
    p-auto-focus="homenageado"
    [p-value]="person"
    [p-fields]="fields"
>
</po-dynamic-form>

<div class="po-row">
    <po-button
        dynamicForm
        p-label="Enviar"
        class="po-md-3"
        p-type="primary"
        (p-click)="sendHomenagem(dynamicForm.form.value); dynamicForm.form.reset()"
        [p-disabled]="dynamicForm.form.invalid == true"
    >
    </po-button>
    <po-button
        p-label="Limpar"
        p-type="default"
        class="po-md-3"
        (p-click)="dynamicForm.form.reset()"
    >
    </po-button>
</div>
